:root {
    --background-color: #0f1012;  /* Blue */
    --primary-color: #c9bacc; /* Gray */
    --border-color: #69b6ff;  /* Green */
    --button-color: hotpink;
    --highlight-color: #fa73ff;
    --input-focus-color: hotpink;
}

body {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 14;
    font-style: normal;
    color: var(--primary-color);
    background-color: var(--background-color);
}

a {
    color: var(--highlight-color);
}

.container {
    width: 80%;
    margin: 0 auto;
    /*border: 1px solid var(--border-color);
    border-radius: 5px;*/
}

#chat-area {
    height: 800px;
    overflow-y: auto;
    scrollbar-color: #3a3e42 var(--background-color);
    scrollbar-width: thin;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

#prompt-input {
    width: 70%;
    padding-bottom: 10px;
    padding-top: 10px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--background-color);
    color: var(--primary-color);
    border-color: var(--highlight-color);
}

input, select {
    color: var(--primary-color);
    background-color: var(--background-color);
    border: 1px solid var(--highlight-color);
    border-radius: 5px;
    padding: 3px;
    text-align:center;
}

input:focus {
    outline: 1px solid var(--highlight-color);
    color: var(--primary-color);
}

input:disabled {
    opacity: 0.4;
    pointer-events: none;
}

#model-selector {
    margin-top:20px;
    margin-left:20px;
}

#send-btn {
    background-color: var(--background-color);
    border: 1px solid #ff4ae1;
    color: var(--primary-color);
    cursor: pointer;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: right;
    margin-top: 10px;
}